*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.keystore
!debug.keystore

# Gradle wrapper
!gradle/wrapper/gradle-wrapper.jar

# Android
*.apk
*.aab
*.ap_

# Kotlin
*.class
.github/
